.c4{

}
.c4-head-text{
    font-family: var(--main-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 137%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-top: 3.3rem;
}
.c4-second-text{
    font-family: var(--main-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #000;
    margin-top: 4rem;
}
.c4-room{
    border: 1px solid #9b9b9b;
    border-radius: 15rem;
    width: 8.9rem;
    height: 4.5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #000;
}

.c4-room:hover{
    background: rgba(66, 120, 246, 1);
    color: #fff;
    
}
.c4-room:checked{
    background: rgba(66, 120, 246, 1);
    color: #fff;
}

.c4-room-wrap{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
#c4-room-kitchen{
    display: none;
}
#c4-room-badroom{
    display: none;
}
#c4-room-bathroom{
    display: none;
}
#c4-room-guestroom{
    display: none;
}
.c4-kitchen{
    width: 37rem;
    height: 35rem;
    background-image: url(../../images/c4-kitchen.jpg);
    background-size: contain;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.c4-badroom{
    background-image: url(../../images/badroom.jpg);
}
.c4-bathroom{
    background-image: url(../../images/bathroom.jpg);
}
.c4-guestroom{
    background-image: url(../../images/guestroom.jpg);
}
.c4-active{
    display: block !important;
}
.c4-circle-first{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: rgba(66, 120, 246, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    left: 5.4rem;
    
}
.c4-circle-first2{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: rgba(66, 120, 246, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8rem;
    left: 21.9rem;
    
}
.c4-circle-first3{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: rgba(66, 120, 246, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    left: 15rem;
    
}
.c4-circle-first4{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: rgba(66, 120, 246, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7.5rem;
    left: 30rem;
    
}
.c4-circle-first:nth-child(2){
    top: 6rem;
    left: 13rem;
}
.c4-circle-first:nth-child(3){
    top: 1rem;
    left: 27.5rem;
}
.c4-circle-first:nth-child(4){
    top: 5.5rem;
    left: 9.5rem;
}
.c4-circle-first:nth-child(5){
    top: 8.5rem;
    left: 5.5rem;
}
.c4-circle-first:nth-child(6){
    top: 11rem;
    left: 29rem;
}
.c4-circle-first2:nth-child(2){
    top: 12rem;
    left: 9.4rem;
}
.c4-circle-first2:nth-child(3){
    top: 15rem;
    left: 17rem;
}
.c4-circle-first2:nth-child(4){
    top: 11rem;
    left: 32rem;
}
.c4-circle-first2:nth-child(5){
    top: 11rem;
    left: 0rem;
}
.c4-circle-first2:nth-child(6){
    top: 10rem;
    left: 24rem;
}
.c4-circle-first2:nth-child(7){
    top: 9.5rem;
    left: 5rem;
}
.c4-circle-first3:nth-child(2){
    top: 12rem;
    left: 15rem;
}
.c4-circle-first3:nth-child(3){
    top: 11rem;
    left: 18.5rem;
}
.c4-circle-first3:nth-child(4){
    top: 12rem;
    left: 3rem;

}
.c4-circle-first3:nth-child(5){
    top: 9rem;
    left: 27.5rem;
}
.c4-circle-first3:nth-child(6){
    top: 13rem;
    left: 13rem;
}

.c4-circle-first4:nth-child(2){
    top: 17rem;
    left: 17.5rem;
}
.c4-circle-first4:nth-child(3){
    top: 23rem;
    left: 13rem;
}
.c4-circle-first4:nth-child(4){
    top: 19.5rem;
    left: 24rem;
}
.c4-circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background: #4278f6;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
}


.hiddenText{
    position: absolute;
    width: 31rem;
    height: 17.1rem;
    border-radius: 1rem;
    background: #E8EFFF;
    padding: 2rem;
    font-family: var(--main-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    color: #000;
    display: none;
    text-align: left;
    left: 2rem;
    left: 7rem;
    top: 168rem;
}
.hiddenshow{
    display: block;
}
#hiddentext2{
    top: 190rem;
    height: 14rem;
}
#hiddentext3{
    top: 212rem;
    height: 14rem;
}
#hiddentext4{
    top: 234rem;
    height: 20rem;
}
#hiddentext5{
    top: 234rem;
    height: 20rem;
}
#hiddentext6{
    top: 234rem;
    height: 20rem;
}


.c4-hiddentext{
    border-radius: 0.5rem;
    width: 8.6rem;
    height: 3.9rem;
    background: #fff;
    font-family: var(--main-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    text-align: center;
    color: #5a6487;
    display: none;
    position: absolute;
    margin-left: 8rem;
    margin-top: -35rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.c4-hiddenshow{
    display: flex;
    align-items: center;
    justify-content: center;
}
#c4-hiddentext2{
    margin-left: 15rem;
    margin-top: -32rem;
}
#c4-hiddentext3{
    margin-left: 20rem;
    margin-top: -33rem;
}
#c4-hiddentext4{
    margin-left: 12rem;
    margin-top: -25rem;
}
#c4-hiddentext5{
    margin-left: 8rem;
    margin-top: -13rem;
}
#c4-hiddentext6{
    margin-left: 21rem;
    margin-top: -12rem;
}
#c4-hiddentext7{
    margin-left: 14rem;
    margin-top: -33rem;
}
#c4-hiddentext8{
    margin-left: 12rem;
    margin-top: -30.5rem;
    height: 9rem;
}
#c4-hiddentext9{
    margin-left: 20rem;
    margin-top: -21rem;
    height: 6rem;
}
#c4-hiddentext10{
    margin-left: 24rem;
    margin-top: -22rem;
    height: 6rem;
}
#c4-hiddentext11{
    margin-left: 3rem;
    margin-top: -16rem;
}
#c4-hiddentext12{
    margin-left: 27rem;
    margin-top: -14rem;
}
#c4-hiddentext13{
    margin-left: 8rem;
    margin-top: -11rem;
}
#c4-hiddentext14{
    margin-left: 7rem;
    margin-top: -35rem;
}
#c4-hiddentext15{
    margin-left: 7rem;
    margin-top: -26rem;
}
#c4-hiddentext16{
    margin-left: 21rem;
    margin-top: -23rem;
}
#c4-hiddentext17{
    
    margin-left: 6rem;
    margin-top: -19rem;
}
#c4-hiddentext18{
    margin-left: 20rem;
    margin-top: -12rem;
}
#c4-hiddentext19{
    margin-left: 16rem;
    margin-top: -11rem;
}
#c4-hiddentext20{
    margin-left: 22rem;
    margin-top: -34rem;
}
#c4-hiddentext21{
    margin-left: 10rem;
    margin-top: -21rem;
}
#c4-hiddentext22{
    margin-left: 5rem;
    margin-top: -11rem;
}
#c4-hiddentext23{
    margin-left: 27rem;
    margin-top: -11rem;
}