.c6{
    padding-right: 0rem;
    padding-left: 0rem;
}
.c6-point{
    width: 15.3rem;
    height: 15.3rem;
    background: #ff6b00;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    margin-bottom: -5rem;
    margin-top: 2.4rem;
}
.c6-point img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 2rem;
}
.number{
    font-family: var(--main-family);
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.number-second{
    font-family: var(--main-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 200%;
    text-align: center;
    color: #ffbf91;
}
.review{
    width: 37rem;
    height: 15.5rem;
    border-radius: 1rem;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 2rem;
    z-index: 2;
    background: #fff;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    left: 50%;
    transform: translate(-50%);
}
.review-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.review-text{
    font-family: var(--main-family);
font-weight: 500;
font-size: 1.3rem;
line-height: 154%;
color: #4278f6;
}
.review-main-text{
    font-family: var(--main-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 143%;
color: #000;
margin-bottom: 3.8rem;
}
.gray{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 154%;
    text-align: right;
    color: #bcbcbc;
}
.review-wrap{
    display: flex;
    justify-content: space-between;
}
.program-list{
    max-height: 53.5rem;
    overflow: hidden;
}
.collapse{
    max-height: 500rem ;
}
.program-btn-text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 143%;
    color: #000;
    text-align: center;
}

.program-btn-img {
    width: 5.6rem;
    height: 5.6rem;
    background-image: url(../../images/open.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.collapsebtn{
    transform: scale(-1);
    margin-top: 1.5rem;
}
.open-program-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}