.c5 {

}
.c5-div{
    width: 37rem;
    height: 32rem;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin-bottom: 1rem;
    
}
.c5-center{
    position: relative;
    left: 50%;
    transform: translate(-50%);

}
.c5-img1{
    margin-top: -2rem;
    margin-bottom: 2.7rem;
}
.c5-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #000;
    margin-top: 1.7rem;
}
