.c8-price{
    font-family: var(--main-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 137%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-top: 2.9rem;
    margin-bottom: 5rem;
}
.price-wrap{
    border: 2px solid #4278f6;
    border-radius: 1rem;
    width: 37rem;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}
.price-items{
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.price-items p{
    font-family: var(--main-family);
font-weight: 400;
font-size: 2.5rem;
line-height: 120%;
color: #000;
}
.price-item{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.price-item p{
    font-family: var(--main-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    color: #000;
}
